SYNCPAY_CLIENT_ID=
SYNCPAY_CLIENT_SECRET=
DELIVERY_TELEGRAM_URL=https://t.me/+ZaDfdoV-HOo4NGYx
META_PIXEL_ID=
META_ACCESS_TOKEN=
META_TEST_EVENT_CODE=TEST13776
RESEND_API_KEY=
RESEND_FROM=Biblioteca VIP <acesso@secrettoons.online>
